{% extends 'base.html' %} {% block content %}
<div class="container mt-3 mb-3">
    <h1 class="text-center">Edit your profile</h1>

    <form method="POST" class="card card-body">
        {% csrf_token %}

        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" value="{{ user.first_name }}"
                placeholder="Enter your name" name="first_name">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" value="{{ user.last_name }}"
                placeholder="Enter your last name" name="last_name">
        </div>

        <div class="form-group">
            <label for="currency">Base Currency:</label>
            <select class="form-control" name="currency" , id="currency">
              <option value="" disabled selected>Select a currency</option>
              {% for currency in currencies %}
              <option value="{{ currency.code }}" {% if user.base_currency == currency %}selected{% endif %} >{{ currency.name }}
              </option>
              {% endfor %}
            </select>
          </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" value="{{ user.username }}"
                placeholder="Enter your username" name="username">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}